<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DsmsCredentialsManagement" version="4.4.195590" targetFramework="net472" />
  <package id="DstsAuthentication.master" version="3.0.2.721" targetFramework="net472" />
  <package id="MdsActiveClient" version="1.0.88.22" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Monitoring.DGrep.DataContracts.External" version="3.2.2" targetFramework="net472" />
  <package id="Microsoft.Azure.Monitoring.DGrep.SDK" version="3.2.2" targetFramework="net472" />
  <package id="Microsoft.Azure.Storage.Common" version="11.2.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SecurityResponseClient" version="1.0.9.149" targetFramework="net472" />
</packages>